{{template "base" .}} 

{{define "title"}}signup{{end}}

{{define "body"}} 
  <form action='/user/signup' method=POST>
    <div>
      <label>Name :</label>
      {{with .FormErrors.name}}
        <label class='error'>{{.}}</label>
      {{end}}
      <input type='text' name='name' value='{{.FormData.Get "name"}}'>
    </div>
    <div>
      <label>Email :</label>
      {{with .FormErrors.email}}
        <label class='error'>{{.}}</label>
      {{end}}
      <input type='email' name='email' value='{{.FormData.Get "email"}}'>
    </div>
    <div>
      <label>Password :</label>
      {{with .FormErrors.password}}
        <label class='error'>{{.}}</label>
      {{end}}
      <input type='password' name='password'>
    </div>
    <div>
      <input type='submit' value='Signup'>
    </div>
  </form>
{{end}}